/*
	fontsizeはremに変更：
	--14pxは1.4remに変更
	--16pxは1.6remに変更

	font-size
	PC 60px[6rem]行間1.6				SP 40px[4rem]行間1.8
	PC 28px[2.8rem]行間1.8			SP 24px[2.4rem]行間1.8
	PC 24px[2.4rem]行間1.8			SP 20px[2rem]行間1.8
	PC 20px[2rem]行間1.8				SP 18px[1.8rem]行間1.8
	PC 18px[1.8rem]行間1.8			SP 16px[1.6rem]行間1.8
	PC 14px[1.4rem]行間1.8			SP 12px[1.2rem]行間1.8

*/

html {
  font-size: 62.5%;
  letter-spacing: 0.03em;
  line-height: 1.4rem;
}

body {
  color: $blue;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  font-size: 1rem;
  background: #fff;
  -webkit-overflow-scrolling: touch;
}
img{
	width: 100%;
	max-width: 100%;
	margin: 15px 0; 
}
h2{
	position: relative;
	font-size: 2.8rem;
	line-height: 1.8;
	font-weight: bold;
	margin-bottom: 40px;
	margin-top: 30px;
	&:before{
		position:absolute;
		content: "";
		width: 40px;
		height: 4px;
		background: $red;
		left: 0;
		top: -14px;
	}
	&:after{
		position:absolute;
		content: "";
		width: 20px;
		height: 4px;
		background: $gray;
		left: 20px;
		top: -14px;
		z-index: 1;
	}
}
h3{
	position: relative;
	font-size: 2.4rem;
	line-height: 1.8;
	font-weight: bold;
	margin-bottom: 40px;
	margin-top: 20px;
}
h4{
	position: relative;
	font-size: 2rem;
	line-height: 1.8;
	font-weight: bold;
	margin-bottom: 30px;
	margin-top: 20px;
}

p{
	font-size: 1.4rem;
	line-height: 1.8;
}
a{
	color: $blue;
	&:hover{
		color:$blue;
	}
}
ul {
	padding-left: 15px;
	margin: 15px 0;
	li{
		font-size: 1.4rem;
	}
}
@media screen and (max-width: 768px){
	h2{
		font-size: 2rem;
	}
	h3{
		font-size: 1.8rem;
	}
	h4{
		font-size: 1.8rem;
	}
}

/*お客様入力する時*/
strong,em, del{
	font-size: 1.4rem;
	list-style: 1.8;
	display: block;
}